.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #001219;
  font-weight: 600;
  border-right: 1px solid gray;
  margin: 10px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.inputs {
  width: 8rem;
}

.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.labels {
  width: 8rem;
}

.li {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}

.button {
  width: 6rem;
  padding: 6px;
  background-color: #023047;
  color: #eee;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
