.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  height: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  cursor: pointer;
  padding: 8px 10px;
  gap: 1rem;
  border-radius: 4px;
}

.li:hover {
  background-color: gray;
}

.name {
  font-size: 12px;
  font-weight: 500;
  width: 5rem;
  text-align: start;
  overflow: hidden;
}
